.page-header {
  position: relative;
  color: $title-text-color;
  justify-content: center;
}

.container {
  @extend %container;
}

.page-header > .container {
  display: flex;
  justify-content: space-between;
}

.flex-nav {
  display: flex;
  align-items: center;
}
